@charset "utf-8";
/* CSS Document */
body {
	font-family: "Myriad Pro", Verdana, Geneva, sans-serif;
}
#container {
	width: 65%;
	padding: 0 0 0 2%;
	height: 100%;
}
main {
	float: left;
	padding-right: 10%;
	max-width: 50%;
}
aside {
	margin-left: 60%;
	min-width: 20%;
	max-width: 30%;
	margin-top: 30px;
	padding: 20px 0px 20px 20px;
	background-color: #E2E2E0;
}
#global {
	text-align: left;
}

#global ul {
	position: relative;
}
#global ul li {
	display: inline;
	float: left;
}
#global ul li a {
	display: block;
	width: 100%;
	margin-right: 20px;
}
aside ul {
	list-style: none;
}
aside ul li a {
	text-decoration: none;
}

label, textarea, input {
	display: block;
}
label {
	padding-bottom: 5px;
}

input {
	margin-bottom: 20px;
	width: 60%;
}
input[type="submit"] {
	width: 110px;
	margin-top: 20px;
}
textarea {
	width: 60%;
}


/*Clearfix*/
.cf:before,
.cf:after {
	content: "";
	display: block;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}